/*
  CSS GLOBAL
*/
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  h4, h5, h6 {
    font-family: 'Poppins', serif;
  }
  
  body {
    font-family: 'Nunito', serif;
  }

/*
  CSS NAV
*/


#sidebar {
  position: relative;
  /*----Checar----*/
  width: 200px;
  height: 96vh;
  transition: width 0.5s ease-in-out;
  border-radius: 8px;
  align-items: center;
}


.hide-text .nav-link-text {
  display: none;
}

.nav-item{
  margin-top: 6px;
}

.img-logo {
  width: 30px;
  height: 40px;
}

.navbar{
  position: relative;
  height: auto;
  border-radius: 8px;
}

.hidden {
  display: none;
}

.icon{
  margin-right: 10px;
}

.nav-link-text{
  font-size: 17px;
}

.nav-item div a p{
  width: 110px;
}

.nav-item div a i,
.nav-item div a p,
.nav-item div a span{
  display: inline-block;
  vertical-align: middle;
}

.sub-menu{
  margin: 0;
}

ul.sub-menu{
  list-style-type: none;
}

ul.sub-menu li a, ul.nav li div a, 
#cerrar div.nav-item-content a{
  text-decoration: none;
}

.sub-menu.collapsed {
  display: none;
}

#cerrar {
  position:absolute;
  bottom: 0;
}

#cerrar div.nav-item-content a{
  text-align: center;
  color: red;
}

.nav-item-content {
  display: flex;
  align-items: center;
  height: 42px;
}

.nav-item-content p {
  margin: 0;
  padding: 0;
}

.circle-container {
  width: 100px; /* Ajusta el tamaño según tus necesidades */
  height: 100px; /* Ajusta el tamaño según tus necesidades */
  border-radius: 50%;
  overflow: hidden;
}

.circle-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-underline {
  width: 150px; /* Puedes ajustar el ancho de la línea según tus necesidades */
  height: 1px; /* Puedes ajustar el grosor de la línea según tus necesidades */
  margin: 5px auto; /* Puedes ajustar los márgenes para controlar la posición de la línea */
}

#user-subtitle{
  font-size: 12px;
}

/* Asignacion tamaño */
#user{
  width: 200px;
  height: 190px;
}

#session{
  width: 200px;
  height: 90px;
}

#nav_container{
  width: 200px;
  height: 410px;
  overflow-y: auto;
  scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
}

#nav_container::-webkit-scrollbar {
  width: 2px; /* Ancho de la barra de desplazamiento */
}

/*
  Base
*/

#base {
  position: relative;
  /*----check----*/
  width: auto;
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
  border-radius: 8px;
  transition: flex-grow 0.3s ease-in-out; /* Transición suave */
}

#base::-webkit-scrollbar {
  width: 2px; /* Ancho de la barra de desplazamiento */
}

/*
Card
*/

.cards {
  display: flex;
  margin: -4px;
}

.card-container {
  flex: 1;
  margin: 4px;
  overflow: hidden;
}

.card-container .card-img{
  border-radius: 0 0 0 0;
}

.card-footer{
  text-align: center;
  height: 40px;
  align-items: center;
}

.card-footer a{
  text-decoration: none;
  width: 180px;
}

.card-footer a,
.card-footer i{
  display: inline-block;
}

/*
Tabla
*/
#show-section {
  display: flex;
  align-items: center;
}

#show-section span,
#show-select {
  font-size: 13px;
  margin-right: 8px;
}

#option-menu{
  display: flex;
  align-items: center;
}

.input-group .custom-input {
  font-size: 14px;
  height: 35px;
}

.input-group .custom-input:focus, #show-select:focus {
  box-shadow: none;
}

.input-group .custom-button {
  font-size: 14px;
}

.input-group .input-group-text {
  text-align: end;
  font-size: 14px;
  width: 80px;
  height: 35px;
}

.foot-table{
  font-size: 13px;
}

ul.pagination{
  border-color: none;
  justify-content: end;
  margin: 0;
}

ul.pagination li a{
  font-size: 13px;
}

ul.pagination li a:hover, .input-group .custom-button:hover{
  box-shadow: none;
}

button.btn-primary {
  width: 80px;
  height: 35px;
}

i.bi-save{
  color:darkblue;
}

i.bi-filetype-pdf{
  color: red;
}

span.badge{
  border-radius: 8px;
  font-size: 13px;
  text-align: center;
  width: 80px;
}

i.bi-archive-fill{
  color: blueviolet;
}

i.bi-save, i.bi-filetype-pdf,
i.bi-pencil-square, i.bi-trash{
  font-size: 20px;
  text-decoration: none;
}
/*
submenu de imagenes
*/

.img-submenu{
  width: 40px;
  height: 40px;
  margin: 4px 50px 4px 50px;
}

.submenu{
  display:flex;
  justify-content: center;
  width: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.image-container {
  transition: transform 0.3s;
}

.image-container:hover {
  transform: scale(1.2);
}

/*
Formularios
*/

.input-group .label-custom{
  text-align: end;
  font-size: 14px;
  width: 120px;
}

input.custom-input:focus, select.custom-input:focus, 
textarea.custom-input:focus{
  box-shadow: none;
}

/*
Footer
*/

#footer{
  position: relative;
  height: 43px;
  text-align: center;
  font-size: 13px;
  padding-top: 4px;
  border-radius: 8px;
  align-items: center;
}


/*
Cambio de modo
*/

/* -----------------------Estilos para el modo claro------------------ */
body {
  background-color: #fff;
  color: #2A2F3D;
}

/*Navegación*/
 #toggleSidebar{
  color: #2A2F3D;
  font-size: 20px;
}

 #toggleSidebar:hover{
  color: #5D87FF;
}

 #titPrin{
  color: #2A2F3D;
}

 #sidebar {
  background-color: #fff;
  color: #2A2F3D;
  box-shadow: 0 0px 20px rgba(42, 47, 61, 0.1);
}

 .nav-item{
  color: #2A2F3D;
}

 .navbar{
  background-color: #fff;
  box-shadow: 0 0px 20px rgba(42, 47, 61, 0.1);
}

 ul.sub-menu li a, ul.nav li div a{
  color: #2A2F3D;
}

 .nav-item-content:hover,
 ul.sub-menu li a:hover, 
 ul.nav li div a:hover{
  color: #5D87FF;
}

 ul.sub-menu li a:hover{
  color: #5D87FF;
}

 .title-underline {
  background-color: #fff; /* Puedes ajustar el color de la línea según tus necesidades */
}

 #nav_container{
  scrollbar-color: #5D87FF #F5F5F5; /* Color de la barra y el fondo de la pista */
}

 #nav_container::-webkit-scrollbar-track {
  background-color: #F5F5F5; /* Color de fondo de la pista */
}

 #nav_container::-webkit-scrollbar-thumb {
  background-color: #5D87FF; /* Color de la barra de desplazamiento */
}

/*Base*/

 #base {
  background-color: #fff;
  scrollbar-color: #5D87FF #F5F5F5;
  box-shadow: 0 0px 20px rgba(42, 47, 61, 0.1);
}

 h5.num, p.cont{
  color: #ffffff;
}

 #base::-webkit-scrollbar-track {
  background-color: #F5F5F5; /* Color de fondo de la pista */
}

 #base::-webkit-scrollbar-thumb {
  background-color: #5D87FF; /* Color de la barra de desplazamiento */
}

/* Card */

 .card-container {
  color: #2A2F3D;
}

 .card-footer a{
  color: #2A2F3D;
}

/* Tabla */

 .input-group .custom-input:focus, #show-select:focus {
  border-color: #5D87FF;
}

 .input-group .input-group-text {
  color: #fff;
  background-color: #5D87FF;
}

 ul.pagination li a{
  color: #2A2F3D;
}

 ul.pagination li a:hover, .input-group .custom-button:hover{
  color: #fff;
  background-color: #5D87FF;
}

 button.btn-primary {
  border-color: #2A2F3D;
  background-color: #fff;
  color: #2A2F3D;
}

 button.btn-primary:hover{
  border-color: #5D87FF;
  background-color: #5D87FF;
  color: #fff;
}

 i.bi-pencil-square,  i.bi-trash{
  color: #2A2F3D;
}

/* submenu de imagenes */

 .submenu{
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
}

/* Formularios */

 .input-group .label-custom{
  color: #fff;
  background-color: #5D87FF;
}

 input.custom-input:focus,  select.custom-input:focus, 
 textarea.custom-input:focus{
  border-color: #5D87FF;
}

 select.custom-input option::-moz-selection {
  background-color: #5D87FF;
}

 select.custom-input option::selection {
  background-color: #5D87FF;
}

/* Footer */

 #boton:active {
  border-color: #5D87FF;
  background-color: #5D87FF;
}

 #footer{
  background-color: #fff;
  color: #2A2F3D;
  box-shadow: 0 20px 20px rgba(42, 47, 61, 0.1);
}

 #btnChange{
  border-color: none;
  background-color: none;
  width: auto;
  height: auto;
}

 #btnChange:hover{
  color: none;
}

 #modeIcon{
  color: #2A2F3D;
}

.light #modeIcon:hover{
  color: #5D87FF;
}
